/* code comments in css are so hard to type */
/* i miss python already */

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Consolas", Consolas, monospace; /* monospace bc funny */
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: rgb(0, 0, 20); /* slightly blue-ish */
    color: rgb(255, 255, 255);
    padding: 1em;
    text-align: center; /* why not */
}

main {
    padding: 2em;
}

h1, h2, h3 {
    color: rgb(0, 100, 255) /* blue bc blue is my favorite color */;
}

ul {
    background: rgb(0,0,0);
    padding: 1em;
    list-style-type: circle; /* circle bullets forever */
}

li {
    margin-bottom: 0.5em;
}

button {
    background-color: rgb(0, 0, 20);
    color: rgb(255,255,255);
    border: none;
    padding: 0.5em 1em;
    text-align: center;
}

button:hover {
    background-color: rgb(0, 0, 40);
    cursor: pointer;
}

a {
    color: rgb(0,100,255);
    text-decoration: none; /* #screwunderlines */
}

a:hover {
    color: rgb(0,120,255); /* slightly lighter blue on hover */
}

.title {
    text-align: center;
}
