---
import Layout from "../layouts/default.astro";
// i refuse to make this data-driven
// screw typescript

const main_scratch = "https://scratch.mit.edu/users/7xel_Official"
const alt_scratch = "https://scratch.mit.edu/users/7leem259"
---

<Layout
  title="about - spark's website"
  description="more about me">

<h1 class="mid-align">about me</h1>

<p>i'm a programmer.</p>

<p>
  check out my <a href="/projects/">projects</a> if 
  you want to see the stuff i make!
</p>

<h2>programming languages i know</h2>

<ul>

  <li>
    Python
  </li>

  <li>
    C++ (i am still learning it)
  </li>

  <li>
    Bash (technically a shell scripting language but close enough)
  </li>

  <li>
    GDScript
  </li>

</ul>

<p>that's about it.</p>

<h2>languages i'm interested in learning</h2>

<ul>

  <li>
    C
  </li>

  <li>
    C#
  </li>

  <li>
    Kotlin
  </li>

  <li>
    Go
  </li>

</ul>

<h2>languages i want to deep fry in a microwave</h2>

<ul>

  <li>
    Rust
  </li>

  <li>Ruby</li>

  <li>
    JavaScript and TypeScript
  </li>

</ul>

<p>i refuse to elaborate further.</p>
<p class="ps">all my homies HATE javascript</p>

<h2>stuff i like</h2>

<p>
  this list is by no means exhaustive!
  i'm interested in a lot of things and it's not necessarily
  easy to document them.
</p>

<ul>

  <li>
    anime and manga
  </li>

  <li>
    football (GLORY GLORY MAN UNITED)
  </li>

</ul>

<h3>gaming</h3>

<ul>

  <li>
    retro games
  </li>

  <li>
    Team Fortress 2
  </li>

  <li>
    Sonic the Hedgehog (have you seen my profile picture?)
  </li>

  <li>
    Persona (P3 my beloved)
  </li>

  <li>
    Celeste
  </li>

  <li>
    Jet Set Radio
  </li>

  <li>
    Mega Man (WE'RE GETTING DUAL OVERRIDE LET'S GOOOOOOO)
  </li>

  <li>
    Ace Attorney (where's AA7, capcom?)
  </li>

  <li>
    <a href="https://osu.ppy.sh/users/36413920" target="_blank" rel="noopener noreferrer">osu!</a>
  </li>

</ul>

<h2>personal stuff</h2>

<p>
  i started programming when i was in 3rd grade or so, with good ol' scratch.
</p>

<p>
  nothing's changed since then! i'm still a programmer as you can very clearly see.
</p>

<p>
  my scratch account is still there to this day!
</p>

<ul>

  <li>
    <a href={main_scratch} target="_blank" rel="noopener noreferrer">my main</a>
  </li>

  <li>
    <a href={alt_scratch} target="_blank" rel="noopener noreferrer">my alt</a>
  </li>

</ul>

<h2>more stuff</h2>

<ul>

  <li>
    gender: male
  </li>

  <li>
    pronouns: he/him
  </li>

  <li>
    student (not sure why i say this like its a good thing)
  </li>

  <li>
    Muslim
  </li>

</ul>

<h2>uhhh bye</h2>

</Layout>