---
import Layout from "../layouts/default.astro";

const github = "https://github.com/sparkhere-sys";
const twitter = "https://x.com/_SparkHere"; // IT'S CALLED TWITTER
---

<Layout
  title="contact me - spark's website"
  description="my socials and how to contact me">

<h1 class="mid-align">contact me</h1>

<ul>

  <li>
    github:
    <a href={github} target="_blank" rel="noopener noreferrer">
      <code>sparkhere-sys</code>
    </a>
  </li>

  <li>
    email:
    <a href="mailto:spark-aur@proton.me">
      <code>spark-aur@proton.me</code>
    </a>
    <p class="ps">
      i rarely if ever check this one, but its there.
    </p>
  </li>

  <li>
    discord: <code>spark_sys</code> (feel free to friend request!)
  </li>

  <li>
    twitter:
    <a href={twitter} target="_blank" rel="noopener noreferrer">
      @_SparkHere
    </a>
    <p>
      be warned. i post a lot of football-related stuff there.
      i'm only on twitter for david ornstein and fabrizio romano at this point.
    </p>
  </li>

</ul>

</Layout>