---
import Layout from "../layouts/default.astro";
---

<Layout
	title="spark's website"
	description="home">

<div class="mid-align">

	<h1>yo, i'm spark</h1>

	<p>
		welcome to my website! not much to do around here, but its better than pretending to be
		a linkedin bio.
	</p>

	<p>i have a text editor and i commit crimes against programming.</p>

	<p>check out the other pages for more. or don't, it doesn't matter.</p>

	<h2>see ya</h2>

</div>

</Layout>